services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./backend:/app
      - ./common:/app/common
      - /app/node_modules

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - ./common:/app/common
      - /app/node_modules
    depends_on:
      - backend
