version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - '3000:3000'

  frontend:
    build: ./frontend
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

